{% extends 'padre.html' %}

{% load static %}

{% block contenidoQueCambia %}
    <center>
        <h1> Administrativos </h1>
    </center>
   

    <h4>Este es el personal administrativo que tenemos trabajando en este momento</h4>
    <ul>
    
        {% for administrativo in lista_administrativos %}
            <li>{{administrativo.nombre}} - {{administrativo.apellido}} - {{administrativo.legajo}}</li>
        {% endfor %}
    
    </ul>

    <h3>
        <a href="{% url 'administrativoFormulario' %}">Agregar Administrativo</a>
    </h3>

    <input type="button" onclick="history.back()" name="volver atrás" value="volver atrás">
{% endblock contenidoQueCambia %} 