{% extends 'padre.html' %}

{% load static %}

{% block contenidoQueCambia %}

    <center>
        <h1>Enfermeros</h1>  
    </center>
      
    <h4>Estos son los enfermeros que tenemos trabajando en este momento</h4>
    <ul>
    
        {% for enfermero in lista_enfermeros %}
            <li>{{enfermero.nombre}} - {{enfermero.apellido}} - {{enfermero.matricula}}</li>
        {% endfor %}
    
    </ul>

    <h3>
        <a href="{% url 'enfermeroFormulario' %}">Agregar Enfermero</a>
    </h3>

    <input type="button" onclick="history.back()" name="volver atrás" value="volver atrás">
{% endblock contenidoQueCambia %} 