{% extends 'padre.html' %}

{% load static %}

{% block contenidoQueCambia %}

    <h1>Vista de Medicos </h1>    
    <h4>Este es el staff médico que tenemos trabajando en este momento</h4>
    <ul>
    
        {% for medico in lista_medicos %}
            <li>{{medico.nombre}} - {{medicos.apellido}} - {{medico.matricula}} - {{medico.especialidad}} </li>
        {% endfor %}
    
    </ul>
    <h3>
        <a href="{% url 'medicoFormulario' %}">Agregar Medico</a>
    </h3>
{% endblock contenidoQueCambia %} 