{% extends 'padre.html' %}

{% load static %}

{% block contenidoQueCambia %}

    <h1>Pacientes </h1>    
    <h4>Estos son los pacientes que tenemos registrados en nuestra base de datos</h4>
    <ul>
    
        {% for paciente in lista_pacientes %}
            <li>{{paciente.nombre}} - {{paciente.apellido}} - {{paciente.tratamiento}} - {{paciente.expediente}}</li>
        {% endfor %}
    
    </ul>
    <h3>
        <a href="{% url 'pacienteFormulario' %}">Agregar Paciente</a>
    </h3>
    <h3>
        <a href="{% url 'busqueda_expediente' %}">buscar paciente</>
    </h3>
{% endblock contenidoQueCambia %} 